{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <!--my css-->
  <link href="{% static 'binty/css/extend.css' %}" rel="stylesheet">

  <title>binty</title>
</head>
<body>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex order-0">
    <a class="navbar-brand mr-1" href="{% url 'binty:index' %}">BINTY</a>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      {% if user.is_anonymous %}
      {% else %}
      <li class="nav-item mx-4">
        <a class="nav-link" href="{% url 'binty:index' %}"><p id="username">{{ user.get_username }}</p></a>
      </li>
      {% endif %}
      <li class="nav-item mx-4 active">
        <a class="nav-link" href="{% url 'binty:login' %}">Account</a>
      </li>
      <li class="nav-item mx-4 active">
        <a class="nav-link" href="{% url 'binty:register' %}">Register</a>
      </li>
      <li class="nav-item mx-4 active">
        <a class="nav-link" href="{% url 'binty:import' %}">Import</a>
      </li>
    </ul>
    <div class="search-li col-4">
      <form class="form-inline" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search_word"
               value="{{ search_word }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'binty/js/main.js' %}"></script>
</html>