{% extends 'binty/base.html' %}
{% load static %}
{% load index_tags %}

{% block content %}

<div class="card-columns">
  {% for content in page_obj %}
  <div class="card">
    {% if content.thumbnail %}
    <a href="{% url 'binty:detail' content.id %}">
      <img class="card-img-top" src="{{ content.thumbnail.url }}"/>
    </a>
    {% else %}
    <a href="{% url 'binty:detail' content.id %}">
      <img class="card-img-top" src="{% static 'binty/img/noimage.png' %}"/>
    </a>
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{content.title}}</h4>
      {% for cast in content.cast.all|slice:":4" %}
      <a href="{% url 'binty:castlist' cast.id %}">{{ cast }}<br></a>
      {% endfor %}
    </div>
    <div id="like" class="card-body">
      <button id="like_btn_{{content.id}}" class="btn btn-outline-success mx-3 goodbtn" type="button">イイね！</button>
      <span id="like_span_{{content.id}}" class="likecount">({{ content.user.all|count }})</span>
    </div>
  </div>
  {% endfor %}
</div>
{% include 'binty/paginate.html' %}

{% endblock %}