<div id="paginate">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li><a class="page-link" href="?page=1">&laquo;</a></li>
      <li><a class="page-link" href='?page={{ page_obj.previous_page_number }}' aria-label="Previous">&lt;</a></li>
      {% else %}
      <li class="disabled"><a class="page-link" href="#">&laquo;</a></li>
      <li class="disabled"><a class="page-link" href="#">&lt;</a></li>
      {% endif %}

      {% for link_page in page_obj.paginator.page_range %}
      {% if link_page %}
      {% if link_page >= page_obj.number|add:"-5" and link_page <= page_obj.number|add:"5"%}
      {% if link_page == page_obj.number %}
      <li class="disabled">
        <div class="page-link" href="#">{{ link_page }}</div>
      </li>
      {% else %}
      <li><a class="page-link" href="?page={{ link_page }}">{{ link_page }}</a></li>
      {% endif %}
      {% endif %}
      {% else %}
      <li class="disabled"><a class="page-link" href="#">・・・</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
      </li>
      {% else %}
      <li class="disabled">
        <div class="page-link" href="#">&rsaquo;</div>
      </li>
      {% endif %}
      <li><a class="page-link" href="?page={{ page_obj.end_index }}">&raquo;</a></li>
    </ul>
</div>